.cancel
{
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
background-color: #B22222;
color: white;
text-align: center;
width: 100px;
}

.create
{
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
background-color: #4682B4;
color: white;
text-align: center;
width: 100px;
}

.connect
{
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
background-color: #4682B4;
color: white;
text-align: center;
width: 100px;
}